<ion-header>
    <navbar [navName]="'Encode text'"></navbar>
</ion-header>

<ion-content padding class="home-page">
    <ion-segment  class="SwipedTabs-tabs"  >
        <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
                            [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
            {{tab}}
        </ion-segment-button>
    </ion-segment>
    <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>

    <ion-slides #SwipedTabsSlider
                (ionSlideDrag)="animateIndicator($event)"
                (ionSlideWillChange)="updateIndicatorPosition()"
                (ionSlideDidChange)="updateIndicatorPosition()"
                (pan)="updateIndicatorPosition()"
                [pager]="false"
                style="height: 93%;">
        <ion-slide>
            <div class="fixed-top">
                <div class="row">
                    <div class="col">
                        <ion-card>
                            <ion-card-content>
                                <img src="{{ pathForCacheImage(lastImage) }}" />
                            </ion-card-content>
                            <ion-item>
                                <button ion-button color="dark" clear item-start *ngIf="lastImage" (click)="lastImage = null">
                                    <ion-icon name="trash"></ion-icon>
                                </button>
                                <button ion-button color="dark" clear item-end *ngIf="lastImage">
                                    <ion-icon name="information-circle"></ion-icon>
                                </button>
                            </ion-item>
                        </ion-card>
                    </div>
                </div>
            </div>
            <div class="fixed-buttom">
                <div class="row">
                    <div class="col">
                        <button ion-button round icon-left icon-start (click)="takePhoto(camera.PictureSourceType.PHOTOLIBRARY)" *ngIf="!lastImage">
                            <ion-icon ios="ios-images" md="md-images"></ion-icon>
                            Gallery
                        </button>
                    </div>
                    <div class="col">
                        <button ion-button round icon-left icon-end (click)="takePhoto(camera.PictureSourceType.CAMERA)" *ngIf="!lastImage">
                            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
                            Camera
                        </button>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="fixed-top">
                <div class="row">
                    <div class="col">
                        <textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="message"></textarea>
                    </div>
                </div>
            </div>
            <div class="fixed-buttom">
                <div class="row">
                    <div class="col">
                        <button ion-button round icon-left icon-start (click)="past()">
                            <ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon>
                            Past
                        </button>
                    </div>
                    <div class="col">
                        <button ion-button round icon-left icon-end (click)="message = ''" >
                            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="fixed-top">
                <ion-row>
                    <div class="form-group">
                        <label for="outputFileName">Output File Name:</label>
                        <input type="text" class="form-control" [(ngModel)]="outputFileName" id="outputFileName">
                    </div>
                </ion-row>
                <ion-row>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="text" class="form-control" [(ngModel)]="password" id="pwd">
                    </div>
                </ion-row>
            </div>
            <div class="fixed-buttom">
                <div class="row">
                    <div class="col">
                        <button ion-button round icon-left (click)="encode()" [disabled]="!lastImage">
                            Encode
                        </button>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
