page-encode {
  .img-preview {
    width: 95%;
    height: auto;
    max-height: min-content;
  }
  #myInput {
    resize: none;
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: #cccbcb;
    padding: 7px;
    color: black;
  }

}
