.fixed-buttom{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align:center;
}

.fixed-top{
  position: absolute;
  top: 5px;
  width: 100%;
  text-align:center;
}

.scroll-content {
  overflow-y: auto;
}
.footer-button-group {
  padding: 7px 0px 7px 0px;
}
.footer-button-group button{
  width: 45%;
  height: 40px;
}
.nav-title {
  margin-left: 17px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  letter-spacing: 4px;
  word-spacing: 35px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}


